@model Sinif
<form asp-controller="sinif" asp-action="ekle" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="SinifAdi"></label>
        <input asp-for="SinifAdi" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SinifKodu"></label>
        <input asp-for="SinifKodu" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </div>
</form>